body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
}

.leaflet-container {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 481px) {
  .main-nav {
    width: 100%;
    display: flex;
  }
}
